@model IEnumerable<Bdl_Grupo2_ProyectoFinal_A.Tickets>

@{
    ViewBag.Title = "Lista de Tickets";
    Layout = null;
}
<head>
    <link href="~/Css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <title>@ViewBag.Title</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
          rel="stylesheet" />
</head>
<body>
    <div class="container body-content" style="margin-top: 80px;">
        <a href="~/Ticket/Crear/" class="btn btn-light" style="margin-left:20px;">Regresar</a>
        <div class="container animate__animated animate__fadeIn w3_" style="margin-bottom: 50px;">
            <h2 style="display:inline-block; margin-top:50px" class="display-4">MIS TICKETS</h2>
            <div style="margin-top: 40px;" class="row">
                @foreach (var n in Model)
                {
                    <div class="col-md-4" style="margin-top:20px;">

                        <div class="card" style="width:20rem;">
                            @if (n.TktPrd_Id == 1)
                            {<span style="position:absolute; margin-top:8px; margin-left:190px;" class="badge badge-pill badge-danger">
                                    Prioridad: @n.Ticket_Prioridad.TktPrd_Tipo
                                </span>}
                            else if (n.TktPrd_Id == 2)
                            {<span style="position:absolute; margin-top:8px; margin-left:190px;" class="badge badge-pill badge-primary">
                                    Prioridad: @n.Ticket_Prioridad.TktPrd_Tipo
                                </span>}
                            else
                            {<span style="position:absolute; margin-top:8px; margin-left:190px;" class="badge badge-pill badge-warning">
                                    Prioridad: @n.Ticket_Prioridad.TktPrd_Tipo
                                </span>}
                            <div class="card-body">
                                <h5 class="card-title">Ticket: <b>@n.Tkt_Codigo</b></h5>
                                <h6 class="card-subtitle mb-2 text-muted">Estado: @n.Estado_Ticket.EstdTick_Tipo</h6>
                                <p class="card-text">Descripción: @n.Problemas_Tecnicos.Prb_Descripcion</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DevSolutions ASP.NET</p>
        </footer>
    </div>
    <script>
        (function () {
            '';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>

